@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

img#logo{
    width: 55px !important;
}


h1{
    font-size: 27px !important; 
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif !important;
}

a#title-link{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

a.icon-link:hover{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

div#icon-container > a >i{
    font-size: 1.10em; 
    color:rgb(0, 0, 0);
}

#accordion-footer, #copyright{
    background-color: #393e46;
}

#copyright{
    color:white; 
}

.accordion-title{
    font-weight: bold;
    color: white;
}

.accordion-title:hover{
    text-decoration: none;
    color: #ffd369;
}

.nav-link{
    font-weight: bold;
    color:black !important; 
    
}

a.offerte{
    background-color: rgba(255, 0, 0, 0.733); 
    color: black;
    font-weight: bold;
}

a.offerte:hover{
    color: black;
}

button.btn-search{
    color: #000;
    font-weight: bold;
    background-color: #ffd369; 
}

div.footer{
    background-color: #393e46bb;
}

div.newsletter-paragraph > h2{
    font-size: 25px;
    color:#ffffff;
    font-weight: bold;
}

div.newsletter-paragraph > p{
    font-size: 18px;
    color:#ffffff;
}

@media(min-width:576px){

    div#icon-container > a.icon-link >i{
        font-size: 1.70em; 
    }
    
    h1{
        font-size: 40px !important;
    }

    img#logo{
        width:70px; 
    }
    
}

@media(min-width:768px){

    div#icon-container > a.icon-link >i{
        font-size: 1.70em; 
    }
    
    h1{
        font-size: 45px !important;
    }

    img#logo{
        width:60px; 
    }

    .nav-link{
        font-size: 20px;
    }

    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
    
}

.nopadding{
    padding:0 !important; 
    margin:0 !important; 
}