@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

img#logo{
    width: 55px !important;
}


h1{
    font-size: 27px !important; 
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif !important;
}

a#title-link{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

a.icon-link:hover{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

a.icon-link{
    font-size: 1.20em; 
    color:rgb(0, 0, 0);
}


div#icon-container > a >i{
    font-size: 1.20em; 
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-family: 'Ubuntu', sans-serif !important;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 20px !important;
    font-weight: bold !important;
    border: none;
  }



  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    text-align: center;
    color: rgb(58, 52, 52);
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #000;
    background-color: rgb(255, 255, 255);
}


a.offerte{
    background-color: rgb(214, 93, 93);
}

button.btn-search{
    color: #000;
    font-weight: bold;
    background-color: rgb(240, 232, 131);
}

div.footer{
    background-color: rgb(134, 134, 134);
}

div.newsletter-paragraph > h2{
    font-size: 25px;
    color:#ffffff;
    font-weight: bold;
}

div.newsletter-paragraph > p{
    font-size: 18px;
    color:#ffffff;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #000;
    background-color: #f8efef;
}

a.offerte:hover{
    color:#000;
}

@media(min-width:576px){

    div#icon-container > a.icon-link >i{
        font-size: 1.70em; 
    }
    
    h1{
        font-size: 40px !important;
    }

    img#logo{
        width:70px; 
    }
    
}

@media(min-width:768px){

    div#icon-container > a.icon-link >i{
        font-size: 1.70em; 
    }
    
    h1{
        font-size: 45px !important;
    }

    img#logo{
        width:60px; 
    }
    
}

.nopadding{
    padding:0 !important; 
    margin:0 !important; 
}