@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


.header-section{
    background-color: #393e46;
    /** background: linear-gradient(to right, #424242 0%, #bbaa96 100%); **/
}

.white-icon{
    color: white !important; 
}
/* CARRELLO*/
input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .itemQuantity {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  /* resize: vertical; */
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
/* FINE CARRELLO */

#home-image{
    padding: 200px 0; 
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("sfondo2.jpg");
    
    

}
img#logo{
    width: 60px; 
}

/* non funzia perchè va in conflitto con altra roba da spostare */
.addToCartButton{
    background-color: #ffd369;
    color: #000;
    font-weight: bold;
}

.card-bottom{
    position: absolute;
    bottom: 0 !important;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.card-body{
    height: 180px;
    position: relative;
}

.card-image{
    max-height: 300px;
}

#compra-ora{
    font-size: 25px;
    padding: 25px 30px; 
    color: black;
    font-weight: bold;
    background-color: #ffd369; 
    
}
/* #compra-ora:hover{
    color: black;
    font-weight: bold;
    border: solid;
    background-color: #ffd269ab;; 
} */


h1{
    font-size: 30px !important; 
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif !important;
}

a#title-link{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

a.icon-link:hover{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

div#icon-container > a >i{

    color:black;
}

#accordion-footer, #copyright{
    background-color: #393e46;
}

#copyright{
    color:white; 
}

.accordion-title{
    font-weight: bold;
    color: white;
}

.accordion-title:hover{
    text-decoration: none;
    color: #ffd369;
}

.nav-link{
    font-weight: bold;
    color:black !important; 
    
}

a.offerte{
    background-color: rgba(255, 0, 0, 0.733); 
    color: black;
    font-weight: bold;
}

a.offerte:hover{
    color: black;
}

button.btn-search{
    color: #000;
    font-weight: bold;
    background-color: #ffd369; 
}

div.footer{
    background-color: #393e46bb;
}

div.newsletter-paragraph > h2{
    font-size: 25px;
    color:#ffffff;
    font-weight: bold;
}

div.newsletter-paragraph > p{
    font-size: 18px;
    color:#ffffff;
}

div.login-card > div.card{
    border: none;
}

.login-snip {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background: rgb(255, 255, 255);
}

.login-snip .login,
.login-snip .sign-up-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}


 .login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
    display: none;
} 

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
    text-transform: uppercase;
}

.login-snip .tab {
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size:25px;
    display: inline-block;
    border-bottom: 3px solid transparent;
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
    color: rgb(0, 0, 0);
    border-color: #ffd369; 
    border-width: 4px;
}

.login-snip .sign-in +.tab,
.login-snip .sign-up +.tab {
    color: rgb(134, 133, 133);
}

.login-space {
    min-height: 650px;
    position: relative;
}

.login-space .group .label,
.login-space .group .button {
    width: 100%;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.login-space .group .button {
    padding: 15px 20px;
    width:100%;
    border-radius: 10px;
}

.login-space .group .input, .login-space .group .input:focus{
    border: none;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 3px solid rgb(104, 104, 104);
}


.login-space .group .label {
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.login-space .group .button {
    background: #ffd369; 
}

.login-space .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
    transform: rotate(0)
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
    transform: rotate(0)
}
  
  div.dashboard-tab a {
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-style: solid;
    border-width: thin;
    border-color:rgb(104, 104, 104);
    background-color: #ffd369; 
  }
  
  /* Change background color of buttons on hover */
  div.dashboard-tab a:hover {
    background-color: #ffd2698a; 
  }

.dashboard-section-title{
    font-family: 'Ubuntu', sans-serif !important;
}

/**         ADMIN                 **/
h1#admin-dashboard-title{
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: bold;
}

p#aside-title{
    font-size: 35px;
    font-weight: bold;
}

aside {
    color: #000;
    padding-left: 20px;
    height: 100vh;
    background-color: #ffd369; 
    border-top-right-radius: 80px;
  }
  
  aside a {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    display: block;
    padding: 15px;
    padding-left: 25px;
  }

  aside a:hover {
    color: #000000;
    background: #fff;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-decoration: none;
  }
  
aside a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #fff;
  }
  
  aside a:hover::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 #fff;
  }

  form.admin-basic-form > table tr td{
    border: 1px solid #000000;    
  }

  table.admin-basic-table  tr td{
    border: 1px solid #000000;    
  }
  form.admin-basic-form > table{
    font-weight: bold;
   }
  

@media(min-width:576px){

    div#icon-container > a.icon-link >i{
        font-size: 1.70em; 
    }
    
    h1{
        font-size: 40px !important;
    }

    img#logo{
        width:80px !important; 
    }

    .card-body{
        height: 180px;
        position: relative;
    }
    
    
}

@media(min-width:768px){

    h1{
        font-size: 45px !important;
    }

    img#logo{
        width:90px !important; 
    }

    .nav-link, .offerte{
        font-size: 18px ;
    }



    .navbar .nav-item .dropdown-menu{   display:block; opacity: 0;  visibility: hidden; border:none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .nav-item:hover .dropdown-menu{ opacity:1; visibility:visible; border:none; }
    
}

@media(max-width:320px){
    h1{
        font-size: 25px !important;
    }

    img#logo{
        width:60px !important; 
    }
    div#icon-container > a.icon-link >i{
        font-size: 1.10em; 
    }
}


.nopadding{
    padding:0 !important; 
    margin:0 !important; 
}