@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

#home-image{
    padding: 200px 0; 
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    background-image: url("sfondo2.jpeg");
}
img#logo{
    width: 60px; 
}

#buy-button{
    background-color: #ffd369;
    color: #000;
    font-weight: bold;
    
}

#buy-section{
    position: absolute;
    bottom: 0 !important;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.card-body{
    height: 200px;
    position: relative;
}

#compra-ora{
    font-size: 25px;
    padding: 15px 15px; 
    color: black;
    font-weight: bold;
    background-color: #ffd369; 
}
#compra-ora:hover{
    color: black;
    font-weight: bold;
    border: solid;
    background-color: #ffd269ab;; 
}


h1{
    font-size: 30px !important; 
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif !important;
}

a#title-link{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

a.icon-link:hover{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

div#icon-container > a >i{

    color:black;
}

#accordion-footer, #copyright{
    background-color: #393e46;
}

#copyright{
    color:white; 
}

.accordion-title{
    font-weight: bold;
    color: white;
}

.accordion-title:hover{
    text-decoration: none;
    color: #ffd369;
}

.nav-link{
    font-weight: bold;
    color:black !important; 
    
}

a.offerte{
    background-color: rgba(255, 0, 0, 0.733); 
    color: black;
    font-weight: bold;
}

a.offerte:hover{
    color: black;
}

button.btn-search{
    color: #000;
    font-weight: bold;
    background-color: #ffd369; 
}

div.footer{
    background-color: #393e46bb;
}

div.newsletter-paragraph > h2{
    font-size: 25px;
    color:#ffffff;
    font-weight: bold;
}

div.newsletter-paragraph > p{
    font-size: 18px;
    color:#ffffff;
}

div.login-card > div.card{
    border: none;
}

.login-snip {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background: rgb(255, 255, 255);
}

.login-snip .login,
.login-snip .sign-up-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}


 .login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
    display: none;
} 

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
    text-transform: uppercase;
}

.login-snip .tab {
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size:25px;
    display: inline-block;
    border-bottom: 3px solid transparent;
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
    color: rgb(0, 0, 0);
    border-color: #ffd369; 
    border-width: 4px;
}

.login-snip .sign-in +.tab,
.login-snip .sign-up +.tab {
    color: rgb(134, 133, 133);
}

.login-space {
    min-height: 600px;
    position: relative;
}

.login-space .group .label,
.login-space .group .button {
    width: 100%;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.login-space .group .button {
    padding: 15px 20px;
    width:100%;
    border-radius: 10px;
}

.login-space .group .input, .login-space .group .input:focus{
    border: none;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 3px solid rgb(104, 104, 104);
}


.login-space .group .label {
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.login-space .group .button {
    background: #ffd369; 
}

.login-space .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
    transform: rotate(0)
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
    transform: rotate(0)
}


@media(min-width:576px){

    div#icon-container > a.icon-link >i{
        font-size: 1.70em; 
    }
    
    h1{
        font-size: 40px !important;
    }

    img#logo{
        width:80px !important; 
    }
    
}

@media(min-width:768px){

    h1{
        font-size: 45px !important;
    }

    img#logo{
        width:90px !important; 
    }

    .nav-link, .offerte{
        font-size: 18px ;
    }



    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
    
}

@media(max-width:320px){
    h1{
        font-size: 25px !important;
    }

    img#logo{
        width:60px !important; 
    }
    div#icon-container > a.icon-link >i{
        font-size: 1.10em; 
    }
}


.nopadding{
    padding:0 !important; 
    margin:0 !important; 
}